---

- name: Include distribution-specific variables
  ansible.builtin.include_vars: "{{ ansible_facts['os_family'] }}.yml"

- name: Set fact is_container
  ansible.builtin.set_fact:
    is_container: true
  when: >
    (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "docker"
       or ansible_facts['virtualization_type'] == "containerd"
       or ansible_facts['virtualization_type'] == "container"
      )
    )

- name: Ensure dependencies are present
  ansible.builtin.package:
    name: "{{ polarproxy_deps }}"
    state: present

- name: Import polarproxy
  ansible.builtin.import_tasks: polarproxy.yml

- name: Testing | Install testing tools
  ansible.builtin.package:
    name: "{{ polarproxy_testing_pkgs }}"
    state: present
  when: polarproxy_testing

- name: Check CER file
  ansible.builtin.command:
    cmd: ls -l /var/log/PolarProxy/
  changed_when: false
  failed_when: false

- name: Testing | Export PolarProxy DER certificate to PEM for curl
  ansible.builtin.command: openssl x509 -inform DER -outform PEM -text -in /var/log/PolarProxy/polarproxy.cer -out /var/log/PolarProxy/polarproxy.pem
  args:
    creates: /var/log/PolarProxy/polarproxy.pem
  when: polarproxy_testing

- name: Import rsyslog-polarproxy
  ansible.builtin.import_tasks: rsyslog-polarproxy.yml
  when: polarproxy_syslog_enable

- name: Testing | Redirect 443 traffic to PolarProxy for user nobody
  ansible.builtin.iptables:
    table: nat
    chain: OUTPUT
    protocol: tcp
    destination_port: '443'
    ctstate: NEW
    syn: match
    jump: REDIRECT
    to_ports: '10443'
    comment: Redirect 443 traffic to PolarProxy for user nobody
    uid_owner: "{{ nobody_uid }}"
  when: >
    polarproxy_testing and
    not is_container|bool
