# cat /etc/systemd/system/PolarProxy.service 
[Unit]
Description=PolarProxy TLS pcap logger
After=network.target

[Service]
Type=simple
User={{ polarproxy_user }}
WorkingDirectory={{ polarproxy_home }}/PolarProxy
ExecStart={{ polarproxy_home }}/PolarProxy/PolarProxy -v -p 10443,80,443 -x /var/log/PolarProxy/polarproxy.cer -f /var/log/PolarProxy/proxyflows.log -o /var/log/PolarProxy/ --certhttp 10080 --insecure
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
